{% extends 'base.html.twig' %}
{% block body %}
    <h2>Użytkownicy</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('user_profile_edit',{'id':user.getId()}) }}">Edytuj</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}