{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container">
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('user_profile_delete',{'id':app.user.getId()}) }}" onclick="return confirm('Na pewno chcesz usunąć profil?')" class="btn btn-danger">Usuń profil</a>
        <a href="{{ path('app_forgot_password_request')  }}" class="btn btn-warning">Zmień hasło</a>
    </div>


{% endblock %}