{% extends 'base.html.twig' %}

{% block title %}Resetuj hasło{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Resetuj hasło</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Podaj email na który mamy wysłać link do resetu hasła
            </small>
        </div>

        <button class="btn btn-primary">Wyślij</button>
    {{ form_end(requestForm) }}
{% endblock %}
