{% extends 'base.html.twig' %}

{% block title %}Resetuj hasło{% endblock %}

{% block body %}
    <h1>Resetuj hasło</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset</button>
    {{ form_end(resetForm) }}
{% endblock %}
