{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Strona Główna</h1>
    </div>

    <div class="jumbotron">
        <h3>Oferty</h3>
    {% for offer in offers %}
        {% set photo = photo_dir ~ offer.getPhotoFilename %}
        <div class="card" style="width: 28%; float: left; margin: 2%; text-align: center">
            <img style="width: 100%; height: 250px;" class="card-img-top" src="{{ asset(photo) }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ offer.getName }}</h5>
                <p class="card-text">{{ offer.getDescription }}</p>
                <a href="{{ path('display_one_offer',{'id':offer.getId()}) }}" class="btn btn-primary">Zobacz</a>
            </div>
        </div>
    {% endfor %}
        <div style="clear: left"></div>
    </div>
{% endblock %}