{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">

        <h1>Napisz do mnie</h1>

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
