{% extends 'base.html.twig' %}
{% block body %}
    <h2>Posty</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Akcje</th>
            {% if is_granted("ROLE_ADMIN") %}
            <th>Akcje Admina</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td><a href="{{ path('blog_display_one_post',{'id':post.getId()}) }}">Czytaj</a></td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('blog_edit_post',{'id':post.getId()}) }}">Edytuj</a></td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}