{% extends 'base.html.twig' %}

{% block title %}Dodaj ofertę{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">

        <h1>Edycja zakładki "Oferta"</h1>

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
