{% extends 'base.html.twig' %}
{% block body %}
    <h3>Hej</h3>
    <h4>Zarejestrowałeś konto za pomocą tego emaila na naszej stronie, musisz jeszcze zweryfikowac ten email klikając w poniższy link</h4>
    <br>
    <h2>Kliknij w link by zweryfikować email:</h2> {{ signedUrl }}
{% endblock %}